h1{
    color: black;
    padding: 20px;
    font-size: 35px;
    font-style: italic;
    background-color: green;
}
.fondo{
    background-color: black;
}
.Secciones{
    background-color: green;
    font-size: 40px;
}
.li{
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 25px;
    font-style: italic;
    background-color: green;
}
.titulosMenú{
    color: black;
    padding: 20px;
    font-size: 35px;
    font-style: italic;
    background-color: green;
}
.PlatosPrincipales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.presentacion{
    color: black;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    background-color: green;
    display: inline-block;
}
.todo{
    display: grid;
    grid-template-columns: 25% 75%;
}
.imagen1{
    position: relative;
    top: 20%;
    display: flex;
    padding: 10px;
    height: 180px;
}
.contacto{
    color: black;
    font-size: 35px;
    font-style: italic;
    background-color: green;
    padding: 10px;
    border: 7px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contactos{
    color: black;
    padding: 30px;
    font-size: 25px;
    font-style: italic;
    background-color: green;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    border: 7px;
    text-align: center;
}
.UsoDeFlex{
    display: flex;
    justify-content: center;
    border: 10px;
    padding: 20px;
}
.contactos1{
    color: black;
    padding: 10px;
    font-size: 35px;
    font-style: italic;
    background-color: green;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    margin-top: 20px;
    border: 7px;
    text-align: center;
}